{% extends "base.html" %}

{% block title %}
    all quotes
{% endblock %}


{% block body %}
<div class="container mt-5">
    <h1>Все цитаты</h1>
    
      {% for quot in quotes %}
        <div class="alert alert-success">          
          <p>{{ quot.text }}</p>
          <p>{{ quot.author }}</p>
          <p><h6>id: {{ quot.id }}</h6></p> 
          <p><a href="/quotes/{{ quot.id }}/delete" class="btn btn-danger">Удалит цитату</a></p>
        </div>
      {% endfor %}
      <br>
      <br>

      <div class="p-3 text-bg-secondary" >
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/quotes" class="btn btn-warning">Все цитаты</a></li>
                <li><a class="btn btn-secondary"></a></li>
                <li><a href="/quotes/digital" class="btn btn-warning">Общее количество цитат</a></li>
                <li><a class="btn btn-secondary"></a></li>
                <li><a href="/quotes/random" class="btn btn-warning">Случайная цитата</a></li>                
                <li><a class="btn btn-secondary"></a></li>
                <li><a href="/quotes/input_id" class="btn btn-warning">Вывод цитаты по id</a></li>
                <li><a class="btn btn-secondary"></a></li>
                <li><a href="/quotes/create" class="btn btn-warning">Создание цитаты</a></li>
                <li><a class="btn btn-secondary"></a></li>                
            </ul>
        </div>
    </div>

   

    
</div>
 
    
    
{% endblock %}
  