{% extends "base.html" %}

{% block title %}
    quote_id
{% endblock %}


{% block body %}
<div class="container mt-5">
    <h1>Вывод цитаты по id</h1><br>
    <hr>
    <div class="alert alert-warning">
        <p><h4><label>id:</label></h4></p>
        <p><h2>{{quote.id}}</h2></p><br>
        
        <p><h4><label>Текст:</label></h4></p>    
        <p><h2>{{quote.text}}</h2></p><br>

        <p><h4><label>Автор:</label></h4></p>    
        <p><h2>{{quote.author}}</h2></p>
    </div>
    <br>
    <br>

    <div class="p-3 text-bg-secondary" >
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>
    
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/quotes" class="btn btn-warning">Все цитаты</a></li>
                <li><a class="btn btn-secondary"></a></li>
                <li><a href="/quotes/digital" class="btn btn-warning">Общее количество цитат</a></li>
                <li><a class="btn btn-secondary"></a></li>
                <li><a href="/quotes/random" class="btn btn-warning">Случайная цитата</a></li>                
                <li><a class="btn btn-secondary"></a></li>
                <li><a href="/quotes/input_id" class="btn btn-warning">Вывод цитаты по id</a></li>
                <li><a class="btn btn-secondary"></a></li>
                <li><a href="/quotes/create" class="btn btn-warning">Создание цитаты</a></li>
                <li><a class="btn btn-secondary"></a></li>                
            </ul>
        </div>
    </div>
</div>

{% endblock %}

<!-- {% for quote in result %}
<p><h2>id: {{ quote.id }}</h2></p>
<p><h2>text: {{ quote.text }}</h2></p>
<p><h2>author: {{ quote.author }}</h2></p>
<p><h2>{{ quote }}</h2></p>
{% endfor %} -->