{% extends "base.html" %}

{% block title %}
    all articles    
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Все статьи</h1>        
        
        {% if articles|length > 0 %}
        
            {% for art in articles %}
                <div class="alert alert-info">
                    <h2>{{ art.title_art }}</h2>
                    <hr>
                    <p>{{ art.intro_art }}</p>
                    <p><b>Date: {{ art.date_art.date() }}</b></p>

                    <!-- <button class="btn btn-warning">Details</button> -->
                    
                    <a href="/posts/{{ art.id }}" class="btn btn-warning">Детальный вывод</a>
                </div>
            {% endfor%}

        {% else %}
                <p>No articles on site</p>

        {% endif %}
    </div>    
{% endblock %}
  