{% extends "base.html" %}

{% block title %}
    Update article
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Отредактировать статью</h1>

        <form method="post">
            <input type="text" name="title_art" id="title_art" class="form-control" value="{{ article.title_art }}" placeholder="Впиши заголовок статьи"><br>
            <textarea name="intro_art"id="intro_art" class="form-control" placeholder="Впиши краткое описание статьи">{{ article.intro_art }}</textarea><br>
            <textarea name="text_art" id="text_art" class="form-control" placeholder="А сюда Текст статьи">{{ article.text_art }}</textarea><br>
            
            <input type="submit" class="btn btn-success" value="Обновить"><br>
        </form>
    </div>    
{% endblock %}
